@mixin create-box($position) {
	grid-row: $position / calc($position + 1);
    grid-column: 2 / 3;
    
    background-color: #FFF;
    background-size: cover;   
    padding-bottom: 5rem;  

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: min-content min-content min-content;

        &--text {
        	grid-column: 1 / 3;
	    }
	    &--content-1 {
	        padding: 1rem;
	        grid-row: 2 / 3;
	        grid-column: 1 / 2;
	    }
	    &--content-2 {
	        padding: 1rem;
	        grid-row: 2 / 3;
	        grid-column: 2 / 3;
	    }
}

@mixin tech-used($numTech) { 
    grid-row: 3 / 4;
    grid-column: 1 / 7;

    display: grid; 
    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: 1.5rem;
    align-items: center;

    font-size: 1.6rem;
    color: grey;

    &::before,
    &::after {
        content: "";
        height: 1px;
        display: block;
        background-color: currentColor;
    } 


    &--container {
        grid-column: 1 / 7;

        display: grid;
        grid-template-columns: repeat($numTech, 1fr);
        grid-template-rows: 10rem min-content;
        grid-row-gap: 1rem;
        grid-column-gap: 3rem;
        justify-items: center;
        align-items: center;
        padding-top: 3rem;
    }

    &--item {
        grid-row: 1 / 2;
        font-size: 10rem;
        height: 10rem;
        width: 8rem;

        align-self: center;
        justify-self: center;
    }

    &--text {
        font-size: 1.5rem;
        grid-row: 2 /3;
        justify-self: center;
        align-self: center;
    }
}

/*
Media Queries
1300px: tablet landscape
*/

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { @content };    //600px - We cant use pixels because if a user changes the font size it would not work.
    }
    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) { @content };     //900px - The only screen attribute makes the media queries only apply to screen and wont be applied if it is printed out for example.
    }
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 81.25em) { @content };    //1300px
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content };    //1800
    }
}

