@mixin fillbar($width) { 
	height: 3.5rem; 
	width: 100%;
	background-image: linear-gradient(
		90deg,
		$color-primary-dark 0%, 
		$color-primary-dark 10rem,
		$color-primary-light 10rem,
		$color-primary-light calc(80% * #{$width} + 20%),
		grey calc(80% * #{$width} + 20%));
} 

.about { 
	grid-column: full-start / full-end;

	display: grid;
	grid-template-rows: min-content 10vh min-content minmax(15rem, min-content) min-content 10vh [bio-start] repeat(5, [bio] min-content) [bio-end];
	grid-template-columns: 1fr repeat(4, minmax(30rem, min-content)) 1fr;  

	@include respond(tab-land) {
		grid-template-columns: 1fr repeat(4, minmax(20vw, min-content)) 1fr;  		
	}
	grid-column-gap: 1rem;

	&__heading-box {
		display: flex;
		align-items: center;
		justify-content: center;	
		margin-top: 10rem;	
		grid-column: 1 / 7;
	}

	&__icons-bolt {
		width: 10rem;
		height: 10rem;
		align-self: center;
		justify-self: center;
		grid-row: 3 / 4;
		grid-column: 2 / 3;
		fill: $color-primary-light;

		&--text {
			align-self: center;
			justify-self: center;
			text-align: center;
			grid-row: 4 / 5;			
			font-size: 1.5rem;
			grid-column: 2 / 3;	
		}
	}
	&__icons-laptop {
		@extend .about__icons-bolt;
		grid-column: 3 / 4;

		&--text {		
			@extend .about__icons-bolt--text;
			grid-column: 3 / 4;		
		}
	}
	&__icons-chart {
		@extend .about__icons-bolt;
		grid-column: 4 / 5;

		&--text {		
			@extend .about__icons-bolt--text;
			grid-column: 4 / 5;		
		}
	}
	&__icons-wrench {
		@extend .about__icons-bolt;
		grid-column: 5 / 6;

		&--text {		
			@extend .about__icons-bolt--text;
			grid-column: 5 / 6;	
		}
	}

	&__biography {		
		grid-row: bio-start / bio-end;
		grid-column: 2 / 4;

		display:flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		&--image {
			margin: 2rem;
			width: 20rem;
			height: 20rem; 
			border-radius: 1000px; 
		}

		&--text {
			text-align: center; 
			font-size: 1.5rem;
			margin-left: 10rem;
			margin-right: 10rem;
		}
	}

	&__skills {
	    list-style: none;
		grid-row: bio-start / bio-end;
		grid-column: 4 / 6;

		display: grid;
		justify-items: space-around; 

		&--text { 
			padding: 1rem; 
			text-align: left; 
			float: left;
			color:white;
			padding: 1rem;
			font-size: 1.5rem;
		}

		&--percent {
			text-align: right;
			font-size: 2rem;
		}

		&--javascript-bar {
			@include fillbar($skill-1);			
	            
		}

		&--angularjs-bar {
			@include fillbar($skill-2);			
		
		}		
		&--react-redux-bar {
			@include fillbar($skill-3);			
		
		}
		&--html-bar {
			@include fillbar($skill-4);			

		}
		&--css-bar {
			@include fillbar($skill-5);			
	
		}
		&--sculpted-body-bar { 
			@include fillbar($skill-6);			
		}
	}     
}