.footer {
	grid-row: 7 / 8;
	grid-column: full-start / full-end; 
	background-color:grey;
	
	display: grid;
	grid-template-rows: 10rem min-content 10rem;
	grid-template-columns: 10rem repeat(6, 1fr) 10rem;
	align-items: center;
	justify-items: center;

    @media only screen and (max-width: 62.5em) { 
		grid-template-rows: 10rem min-content min-content 10rem;
		grid-template-columns: 10rem repeat(3, 1fr) 10rem;
     };    


	&__home {
		grid-row: 2 / 3;
		grid-column: 2 / 3;
	}

	&__about {
		grid-row: 2 / 3;
		grid-column: 3 / 4;

	}

	&__skills {
		grid-row: 2 / 3;
		grid-column: 4 / 5;
	}

	&__work-experience {
		grid-row: 2 / 3;
		grid-column: 5 / 6;
	}

	&__projects {
		grid-row: 2 / 3;
		grid-column: 6 / 7;
	}

	&__contact {
		grid-row: 2 / 3;
		grid-column: 7 / 8;
	}

	@media only screen and (max-width: 62.5em) { 
		&__work-experience, &__projects, &__contact {
			grid-row: 3/ 4;
		}
		&__work-experience {
			grid-column: 2 / 3;
		}
		&__projects {
			grid-column: 3 / 4;
		}
		&__contact{
			grid-column: 4 / 5;
		}
	}

	&__link {
        &:link,
        &:visited {
            color: white;
            background-color: grey;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            transition: all .2s;
        }

        &:hover,
        &:active { 
            color: $color-primary;
            box-shadow: 0 1rem 2rem rgba(255, 255, 255, .4);
            transform: rotate(5deg) scale(1.3);
        }
    }
}