.skills {
	margin-top: 10vh;
	grid-column: full-start / full-end;
	background-color: lightgrey;
	
	display: grid;
    grid-template-rows: 40vh repeat(5, min-content);
	grid-template-columns: 1fr minmax(80, 15vw) 1fr;
    grid-column-gap: 10rem;
    grid-row-gap: 10rem;
    padding-bottom: 8vw;

	&__languages {
		grid-column: 2 / 6;
		grid-row: 2 / 3;
		height: 100%;
		background-color: white;

		display: grid;
		grid-template-columns: repeat(5, 20%); 
		grid-template-rows: min-content min-content min-content;
		grid-row-gap: 1vw;
	}

	&__title {
		grid-column: 1 / 6;
	}

	&__icon {
		grid-row: 2 / 3;
		font-size: 6vw;
		height: 6vw;
		width: 6vw;

		align-self: center;
		justify-self: center;

		&-text {
			grid-row: 3 /4;
			padding: 1rem;
			justify-self: center;
			align-self: center;

			@extend .content-text;
		}
	}

	&__javascript {	
		@extend .skills__languages;
		grid-column: 2 / 6;
		grid-row: 3 / 4;
	}
	&__testing {
		@extend .skills__languages;
		grid-row: 4 / 5;
		grid-column: 2 / 6;
	}
	&__tools {
		@extend .skills__languages;
		grid-row: 5 / 6;
		grid-column: 2 / 6;
	}
	&__other {
		@extend .skills__languages;
		grid-row: 6 / 7;
		grid-column: 2 / 6;	
	}
}