#content {
   margin-left: auto;
   margin-right: auto;
   width: 80%;
}
#logIn { 
   margin-left: auto;  
   margin-right:auto;  
   width: 30%;
   height: 10%;
   border: solid 2px;  
   padding: 30px; 
 } 
#title {
   width: 80%;
   height: 10%;
   padding 10px;
   border: 1px solid black;
}
#forum_table {
   width: 100%;
   border: 1px solid black;
}
.forum_header {
   background-color: red;
   text-size: 18pt;
   font-style: strong;
}
