body {
   background-color: black;
}
#content {
   background-color: white;
   padding: 10px;
   margin-left: auto;
   margin-right: auto;
   width: 80%;
}
#logIn { 
   float: left;
   width: 20%;
   height: 5%;
   border: solid 2px;  
   padding: 30px; 
 } 
#title {
   width: 75%;
   height: 200px;
   padding 10px;
   border: 1px solid black;
   float:left;
}
#forum_table {
   width: 100%;
   margin-top: 10px;
   margin-bottom: 10px;
}
.forum_header {
   background-color: blue;
   font-size: 18pt;
   font-style: strong;
}
